@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Playfair+Display:wght@400;600;800&display=swap" rel="stylesheet');

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333333;
  background-color: #f5f5f5;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-weight: 800;
}

h2{
  font-weight: 300;
  font-size: 20px;
}

.passion{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

img {
  width: 200px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #a56161;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  padding-right: 10px ;
}

i {
  font-size: 24px;
  opacity: 0.6;
}

i:hover {
  opacity: 1;
}

.container {
  width: 100%;
}

.card {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 50%;
  background: white;                         /* White background */
  padding: 30px;                           /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
}

.btn-primary{
  width: 150px;
  color: #a56161;
  opacity: 0.6;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
}

.btn-primary:hover {
  border-bottom: 2px solid #a56161;
  opacity: 1;
}

.description {
  margin-bottom: 25px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#jobtitle {
  margin-top: -15px;
  margin-bottom: 20px;
}

#footer {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 50%;                       /* White background */
  padding: 30px;
  padding-bottom: 40px;                             /* Internal space */                    /* Small radius */
  text-align: center;
}
